<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <title>Vinicius Kiss - Desenvolvedor Frontend</title>
    <meta charset="UTF-8">
    <link rel="canonical" href="http://vkiss.com.br/">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/hack-font/3.003/web/hack.min.css">
    <link rel="shortcut icon" href="/favicon.png">
  </head>
  <body>
    <section id="main-app">
      <p class="html-comment js-inject-trailing-space">&lt;!-- Vinicius Kiss --&gt;</p>
      <h1 class="html-code">
        <span class="hover-before">&lt;<span class="html-element">h1</span>&gt;</span>
        <span class="js-inject-trailing-space">
          Desenvolvedor Frontend
        </span>
        <span class="hover-after">&lt;/<span class="html-element">h1</span>&gt;</span>
      </h1>
      <p class="hide-mobile">
        <a id="email-link-desktop" class="html-code" target="_blank" rel="noopener noreferrer" href="mailto:<%= email %>">
          <span class="hover-before">&lt;<span class="html-element">a</span><span class="html-space"> <span>•</span></span><span class="html-attribute">href</span><span class="html-equal-sign">=</span><span class="html-key">"mailto:<%= email %>"</span>&gt;</span>
          <span class="js-inject-trailing-space">
            <%= email %>
          </span>
          <span class="hover-after">&lt;/<span class="html-element">a</span>&gt;</span>
        </a>
      </p>
      <p class="hide-mobile">
        <a id="phone-link-desktop" class="html-code" target="_blank" rel="noopener noreferrer" href="<%= telefoneLink %>">
          <span class="hover-before">&lt;<span class="html-element">a</span><span class="html-space"> <span>•</span></span><span class="html-attribute">href</span><span class="html-equal-sign">=</span><span class="html-key">"<%= telefoneLink %>"</span>&gt;</span>
          <span class="js-inject-trailing-space">
            <%= telefone %>
          </span>
          <span class="hover-after">&lt;/<span class="html-element">a</span>&gt;</span>
        </a>
      </p>
      <p class="html-code hide-mobile">
        <span class="hover-before">&lt;<span class="html-element">p</span>&gt;</span>
          <span class="js-inject-trailing-space">
            <%= htmlWebpackPlugin.options.meta.description %>
          </span>
        <span class="hover-after">&lt;/<span class="html-element">p</span>&gt;</span>
      </p>
    </section>

    <a id="promo-box" class="promo-box"></a>

    <footer>
      <ul>
        <% footerLinks.forEach(function(item) { %>
          <li>
            <a class="link" href="<%= item.href %>" rel="noopener noreferrer" target="<%= item.target %>">
              <%= item.label %>
            </a>
          </li>
        <% }); %>
        <li class="hide-desk">
          <a class="mobile-cta js-inject-trailing-space link" rel="noopener noreferrer" target="_blank" href="<%= telefoneLink %>"><%= telefone %></a>
        </li>
        <li class="hide-desk">
          <a class="mobile-cta js-inject-trailing-space link" rel="noopener noreferrer" target="_blank" href="mailto:<%= email %>"><%= email %></a>
        </li>
      </ul>
    </footer>

    <aside class="hide-mobile" id="footer-notes"></aside>
  </body>
</html>